.content {
  min-height: calc(100vh - 160px);
}

.continue-btn {
  min-height: 50px;
  min-width: 150px;
  color: white;
  background-color: #b698f0;
}

.continue-btn:hover {
  color: white;
  background-color: #7d3cff;
}
