.profile-avatar {
  width: 300px;
  border-radius: 50%;
}

.profile-card {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.content {
  min-height: calc(100vh - 160px);
}

.edit-btn {
  color: white;
  background-color: #b698f0;
}

.edit-btn:hover {
  color: white;
  background-color: #7d3cff;
}

.unfriend-btn {
  color:white;
  background-color: #f5716c;
}

.unfriend-btn:hover {
  color:white;
  background-color: #e23832;
}

.addfriend-btn {
  color:white;
  background-color:#6acf6a ;
}

.addfriend-btn:hover {
  color: white;
  background-color: #21a721;
}