.navbar {
  height: 80px;
  background-color: #92a8d1;
}

.navbar-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.link {
  text-decoration: none;
}

.navbar-option:hover {
  cursor: pointer;
}
